.team {
	width: 100%;
	margin-top: 95px;

	&__list {
		display: grid;
		grid-template-columns: repeat(3, 270px);
		grid-template-rows: repeat(2, 1fr);
		row-gap: 170px;
		column-gap: 54px;
	}
}

.staff {
	position: relative;

	&__image {
		display: block;
		width: 238px;
		height: 340px;
	}

	&__name {
		margin-top: 15px;
		font-family: Poppins;
		.fontStyle(18px, 600, 27px);
	}

	&__specialty {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		writing-mode: vertical-rl;
	}
}